<%= link_to "All Users", root_url %>

<h1> Upcoming Events! </h1>
<% @event.upcoming.each do |e| %>
  <%= render partial: 'display', locals: { e: e } %> 
<% end %>

<h1> Past Events! </h1>
<% @event.past.each do |e| %>
  <div>
    <%= render partial: 'display', locals: { e: e } %> 
</div>
<% end %>
